@page "/"
@namespace DoAnTotNghiep.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoAnTotNghiep</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="DoAnTotNghiep.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ez9wMKHiWuMa3peN3u/4Pr417f5eKpsIsIb1rh4DRx6cTpg3FXmMzm2R09WRBIs" crossorigin="anonymous">
</head>
<body>
    @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    @*<component type="typeof(App)" render-mode="ServerPrerendered" />*@

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <script src="~/js/JSInterop.js"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
    <script src="~/js/cdnjs/g2plot.js"></script>

</body>
</html>
