@page "/"
@layout LoginLayout
<div style="background-image:url('image/test.jpg');" class="login">
    <EditForm Model="login" OnValidSubmit="() => LoginAsync()">
        <DataAnnotationsValidator />
        <AntDesign.Row Gutter="8" Justify="center">
            <AntDesign.Col Span="24">
                <LabelFor For="() => login.UserName"></LabelFor>
                <Input @bind-Value="login.UserName"/>
                <ValidationMessage For="() => login.UserName"></ValidationMessage>
            </AntDesign.Col>
            <AntDesign.Col Span="24" Style="margin-top: 30px">
                <LabelFor For="() => login.Password"></LabelFor>
                <InputPassword @bind-Value="login.Password" />
                <ValidationMessage For="() => login.Password"></ValidationMessage>
            </AntDesign.Col>
        </AntDesign.Row>
        <AntDesign.Row Gutter="8" Justify="center" Style="margin-top: 30px">
            <Button HtmlType="submit" Type="@AntDesign.ButtonType.Primary">Đăng nhập</Button>
        </AntDesign.Row>
    </EditForm>
</div>
