@page "/fetchdata"


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (ListUsers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in ListUsers)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.IsAdmin</td>
                    <td>@forecast.Password</td>
                    <td>@forecast.UserName</td>
                </tr>
            }
        </tbody>
    </table>
}

