@page "/ca-nhan/dang-ky-don"
<PageHeader Class="site-page-header" Title="Đăng ký đơn">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Cá nhân</BreadcrumbItem>
            <BreadcrumbItem>Đăng ký đơn</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
<div class="site-content">
    <Tabs DefaultActiveKey="0" @bind-ActiveKey=activeKey>
        <TabPane Tab="Đơn nghỉ phép" Key="0">
            <DoAnTotNghiep.Timekeeping.Vacation.RegisterVacation></DoAnTotNghiep.Timekeeping.Vacation.RegisterVacation>
        </TabPane>
        <TabPane Tab="Đơn làm thêm giờ" Key="1">
            <DoAnTotNghiep.Timekeeping.Overtime.RegisterOvertime></DoAnTotNghiep.Timekeeping.Overtime.RegisterOvertime>
        </TabPane>
        <TabPane Tab="Giải trình chấm công" Key="2">
            @*<TimekeepingTypeList></TimekeepingTypeList>*@
        </TabPane>
    </Tabs>
</div>
