@page "/cham-cong/quy-dinh-cham-cong"
<PageHeader Class="site-page-header" Title="Thiết lập quy định chấm công">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Chấm công</BreadcrumbItem>
            <BreadcrumbItem>Thiết lập quy định chấm công</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
@if (PermissionClaim.SETUP_TIMEKEEPING)
{
    <div class="site-content">
        <Tabs DefaultActiveKey="0" @bind-ActiveKey=activeKey>
            <TabPane Tab="Ca làm việc" Key="0">
                @*<TimekeepingShiftList></TimekeepingShiftList>*@
            </TabPane>
            <TabPane Tab="Hệ số làm thêm giờ" Key="1">
                @*<OvertimeRateList></OvertimeRateList>*@
            </TabPane>
            <TabPane Tab="Kiểu công" Key="2">
                @*<TimekeepingTypeList></TimekeepingTypeList>*@
            </TabPane>
            <TabPane Tab="Công thức chấm công" Key="3">
                @*<TimekeepingFormula></TimekeepingFormula>*@
            </TabPane>
        </Tabs>
    </div>
}